.edit-profile-form {
	input {
		margin: 5px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid white;
		font-weight: bold;
	}

	.edit-profile-buttons {
		button {
			background-color: #00bc77;
			color: white;
			font-weight: bold;
			margin: 5px;
			padding: 5px 25px;
			border-radius: 5px;
			border: 1px solid #005335;
			cursor: pointer;
		}
	}
}
