@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
	font-family: "Roboto", sans-serif; // Définissez une police par défaut
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Manrope", sans-serif; // Appliquez une autre police si nécessaire
}

h1,
h2,
h3 {
	font-family: "Montserrat", sans-serif; // Utilisez une police différente pour les titres
}

p,
input,
button {
	font-family: "DM Sans", sans-serif; // Appliquez une autre police pour les paragraphes et les formulaires
}

#root {
	min-height: 100vh;
}

.main {
	flex: 1;
}

.bg-dark {
	background-color: #12002b;
	min-height: calc(100vh - 170px);
	padding-top: 25px;
}
